mta-otp-elevators/target
mta-otp-proxy/target
mta-otp-plannedwork/target
.idea
*.iml
/mta-otp-proxy/src/main/resources/data-sources.xml
mta-gms-service-status/target/
/mta-otp-proxy/src/main/resources/collector.properties
