<?xml version="1.0" encoding="UTF-8"?>
<web-app id="proxy" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

    <display-name>onebusaway-admin-webapp</display-name>

    <!-- spring config -->

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            classpath:data-sources.xml
        </param-value>
    </context-param>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>subwayTripUpdates</servlet-name>
        <servlet-class>
            org.springframework.web.context.support.HttpRequestHandlerServlet
        </servlet-class>
    </servlet>

    <servlet>
        <servlet-name>subwayServiceAlerts</servlet-name>
        <servlet-class>
            org.springframework.web.context.support.HttpRequestHandlerServlet
        </servlet-class>
    </servlet>

    <servlet>
        <servlet-name>mnrTripUpdates</servlet-name>
        <servlet-class>
            org.springframework.web.context.support.HttpRequestHandlerServlet
        </servlet-class>
    </servlet>

    <servlet>
        <servlet-name>mnrServiceAlerts</servlet-name>
        <servlet-class>
            org.springframework.web.context.support.HttpRequestHandlerServlet
        </servlet-class>
    </servlet>

    <servlet>
        <servlet-name>lirrServiceAlerts</servlet-name>
        <servlet-class>
            org.springframework.web.context.support.HttpRequestHandlerServlet
        </servlet-class>
    </servlet>

    <servlet>
        <servlet-name>busServiceAlerts</servlet-name>
        <servlet-class>
            org.springframework.web.context.support.HttpRequestHandlerServlet
        </servlet-class>
    </servlet>

    <servlet>
        <servlet-name>serviceStatus</servlet-name>
        <servlet-class>
            org.springframework.web.context.support.HttpRequestHandlerServlet
        </servlet-class>
    </servlet>

    <servlet>
        <servlet-name>routeBranchStop</servlet-name>
        <servlet-class>
            org.springframework.web.context.support.HttpRequestHandlerServlet
        </servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>subwayTripUpdates</servlet-name>
        <url-pattern>/realtime/gtfsrt/MTASBWY/tripUpdates</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>subwayServiceAlerts</servlet-name>
        <url-pattern>/realtime/gtfsrt/MTASBWY/alerts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mnrTripUpdates</servlet-name>
        <url-pattern>/realtime/gtfsrt/MNR/tripUpdates</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mnrServiceAlerts</servlet-name>
        <url-pattern>/realtime/gtfsrt/MNR/alerts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>lirrServiceAlerts</servlet-name>
        <url-pattern>/realtime/gtfsrt/LIRR/alerts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>busServiceAlerts</servlet-name>
        <url-pattern>/realtime/gtfsrt/MTABUS/alerts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MTABUS</servlet-name>
        <url-pattern>/realtime/gtfsrt/MTABUS/tripUpdates</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NYCWF</servlet-name>
        <url-pattern>/realtime/gtfsrt/NYCWF/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NJB</servlet-name>
        <url-pattern>/realtime/gtfsrt/NJB/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LIRR</servlet-name>
        <url-pattern>/realtime/gtfsrt/LIRR/tripUpdates</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>serviceStatus</servlet-name>
        <url-pattern>/realtime/serviceStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>routeBranchStop</servlet-name>
        <url-pattern>/schedule/stopsForRoute</url-pattern>
    </servlet-mapping>

    <!-- proxy config -->

    <servlet>
        <servlet-name>MTABUS</servlet-name>
        <servlet-class>org.mitre.dsmiley.httpproxy.ProxyServlet</servlet-class>
        <init-param>
            <param-name>targetUri</param-name>
            <param-value>http://gtfsrt.prod.obanyc.com/tripUpdates</param-value>
        </init-param>
        <init-param>
            <param-name>log</param-name>
            <param-value>true</param-value>
        </init-param>
    </servlet>

    <servlet>
        <servlet-name>NYCWF</servlet-name>
        <servlet-class>org.mitre.dsmiley.httpproxy.ProxyServlet</servlet-class>
        <init-param>
            <param-name>targetUri</param-name>
            <param-value>http://nycferry.connexionz.net/rtt/public/utility/gtfsrealtime.aspx/</param-value>
        </init-param>
        <init-param>
            <param-name>log</param-name>
            <param-value>true</param-value>
        </init-param>
    </servlet>

    <servlet>
        <servlet-name>NJB</servlet-name>
        <servlet-class>org.mitre.dsmiley.httpproxy.ProxyServlet</servlet-class>
        <init-param>
            <param-name>targetUri</param-name>
            <param-value>http://standards.xcmdata.org/TransitDE/rest/GTFSController</param-value>
        </init-param>
        <init-param>
            <param-name>log</param-name>
            <param-value>true</param-value>
        </init-param>
    </servlet>

    <servlet>
        <servlet-name>LIRR</servlet-name>
        <servlet-class>org.mitre.dsmiley.httpproxy.ProxyServlet</servlet-class>
        <init-param>
            <param-name>targetUri</param-name>
            <param-value>http://mnorth.prod.acquia-sites.com/wse/LIRR/gtfsrt/realtime/610034dd391346cdd69a5f884f30f663/proto</param-value>
        </init-param>
        <init-param>
            <param-name>log</param-name>
            <param-value>true</param-value>
        </init-param>
    </servlet>

    <filter>
        <filter-name>CorsFilter</filter-name>
        <filter-class>com.thetransactioncompany.cors.CORSFilter</filter-class>

        <init-param>
            <param-name>cors.allowOrigin</param-name>
            <param-value>*</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>CorsFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

</web-app>
